/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html body .container_1 {
  max-width: 1240px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
html body header .header_top {
  background-color: #967979;
}
html body header .header_top .header_top_content {
  height: 136px;
  width: 100%;
  padding-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
html body header .header_top .header_top_content img {
  width: 165px;
}
html body header .header_top .header_top_content .search_bar {
  width: 100%;
  height: 40px;
  margin: 0px 20px;
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: #faf9f8;
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar {
    margin-left: 0px;
  }
}
html body header .header_top .header_top_content .search_bar button {
  border: none;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
}
html body header .header_top .header_top_content .search_bar button i {
  font-size: 32px;
  color: #C9C0B7;
}
html body header .header_top .header_top_content .search_bar input {
  border: none;
  vertical-align: middle;
  width: 88%;
  height: 30px;
  outline: none;
}
@media (max-width: 900px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 81.5%;
  }
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 70%;
  }
}
html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
@media (max-width: 426px) {
  html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::placeholder {
    letter-spacing: -1px;
  }
}
html body header .header_top .header_top_content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  color: #faf9f8;
  font-size: 40px;
}
html body header .header_top .header_top_content .fa-bars {
  display: none;
  font-size: 24px;
  color: #faf9f8;
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar {
    margin-left: 0px;
  }
  html body header .header_top .header_top_content img {
    display: none;
  }
  html body header .header_top .header_top_content .icons {
    display: none;
  }
  html body header .header_top .header_top_content .fa-bars {
    display: block;
  }
}
@media (max-width: 372px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 50%;
  }
  html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::placeholder {
    font-size: 0px;
  }
}
@media (max-width: 600px) {
  html body header nav {
    display: none;
  }
}
html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
  width: 100%;
  height: 72px;
  background-color: #a18686;
}
html body header nav ul a {
  color: #faf9f8;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
html body .s-1 {
  height: 640px;
  background-image: url("../img/Steam logo and background of games_cleanup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
}
html body .s-1 .mySlides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
html body .s-1 .mySlides .slide_piece1 h2 {
  color: #D2D4DA;
  text-align: center;
  font-family: Esteban;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  margin-bottom: 40px;
}
@media (max-width: 1130px) {
  html body .s-1 .mySlides .slide_piece1 h2 {
    font-size: 30px;
  }
}
html body .s-1 .mySlides .slide_piece1 .game1 {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  outline: none;
}
html body .s-1 .mySlides .slide_piece1 .game1 .price {
  position: absolute;
  bottom: 10px;
  outline: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: none;
  background-color: #967979;
}
html body .s-1 .mySlides .slide_piece1 .game1 .price p {
  color: #F3F4F8;
  margin-bottom: 0;
  font-family: Esteban;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 175% */
}
html body .s-1 .mySlides .slide_piece1 .game1 img {
  margin-left: 70px;
  border-radius: 10px;
}
@media (max-width: 1130px) {
  html body .s-1 .mySlides .slide_piece1 .game1 img {
    width: 300px;
  }
}
html body .s-1 .mySlides .slide_piece2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 auto;
  bottom: 0px;
}
html body .s-1 .mySlides .slide_piece2 .shop_now {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: #C9C0B7;
}
html body .s-1 .mySlides .slide_piece2 .shop_now p {
  margin: 0;
  color: #F3F4F8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
@media (max-width: 1130px) {
  html body .s-1 .mySlides .slide_piece2 .shop_now p {
    font-size: 14px;
  }
}
html body .s-1 .mySlides .slide_piece2 .shop_now:hover {
  background: #D9D3CD;
}
html body .s-1 .mySlides .slide_piece2 .shop_now:active {
  background: #E4E0DB;
}
html body .s-1 .mySlides .slide_piece2 .shop_now:focus {
  outline: none;
}
html body .s-1 .mySlides .slide_piece2 .dots {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-top: 40px;
}
html body .s-1 .mySlides .slide_piece2 .dots .dot {
  opacity: 0.5;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}
html body .s-1 .mySlides .slide_piece2 .dots .active {
  opacity: 1;
}
html body .s-1 .mySlides .slide_piece3 {
  margin-right: 60px;
}
html body .s-1 .mySlides .slide_piece3 .game2 {
  position: relative;
}
html body .s-1 .mySlides .slide_piece3 .game2 .price {
  outline: none;
  position: absolute;
  top: 10px;
  margin-left: -30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 12px;
  border: none;
  background-color: #967979;
}
html body .s-1 .mySlides .slide_piece3 .game2 .price p {
  color: #F3F4F8;
  margin-bottom: 0;
  font-family: Esteban;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px; /* 175% */
}
html body .s-1 .mySlides .slide_piece3 .game2 img {
  border-radius: 10px;
  margin-bottom: 30px;
}
@media (max-width: 1130px) {
  html body .s-1 .mySlides .slide_piece3 .game2 img {
    width: 300px;
  }
}
@media (max-width: 1000px) {
  html body .s-1 .mySlides {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  html body .s-1 .mySlides .slide_piece1 {
    margin-top: 20px;
  }
  html body .s-1 .mySlides .slide_piece2 {
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 20px;
  }
  html body .s-1 .mySlides .slide_piece2 .dots {
    margin-top: 20px;
  }
  html body .s-1 .mySlides .slide_piece3 {
    display: none;
  }
}
@media (max-width: 400px) {
  html body .s-1 .mySlides .slide_piece1 .game1 img {
    width: 200px;
    margin-left: 30px;
  }
  html body .s-1 .mySlides .slide_piece1 .game1 .price p {
    font-size: 20px;
  }
}
html body .s-1 .prev,
html body .s-1 .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
html body .s-1 .prev {
  left: 0px;
}
html body .s-1 .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
html body .s-1 .prev:hover,
html body .s-1 .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
html body .s-2 {
  margin-top: 124px;
}
html body .s-2 .categ_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 48px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 16px;
}
html body .s-2 .categ_head h3 {
  color: #0e1020;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 111.111% */
}
@media (max-width: 695px) {
  html body .s-2 .categ_head h3 {
    font-size: 20px;
  }
}
html body .s-2 .categ_head .see_more_less {
  cursor: pointer;
  color: #a18686;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  margin: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 695px) {
  html body .s-2 .categ_head .see_more_less {
    display: none;
  }
}
html body .s-2 .categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 869px) {
  html body .s-2 .categories {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
html body .s-2 .categories .categoric {
  border-radius: 8px;
  width: 350px;
  height: 280px;
  background-size: cover;
  margin-bottom: 21px;
}
@media (max-width: 1170px) {
  html body .s-2 .categories .categoric {
    width: 300px;
    height: 240px;
  }
}
@media (max-width: 1019px) {
  html body .s-2 .categories .categoric {
    width: 250px;
    height: 200px;
  }
}
@media (max-width: 695px) {
  html body .s-2 .categories .categoric {
    width: 200px;
    height: 160px;
  }
}
@media (max-width: 495px) {
  html body .s-2 .categories .categoric {
    width: 100%;
  }
}
html body .s-2 .categories .categoric h3 {
  margin: auto;
  display: inline-block;
  text-align: center;
  color: #faf9f8;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 125% */
}
@media (max-width: 695px) {
  html body .s-2 .categories .categoric h3 {
    font-size: 16px;
  }
}
html body .s-2 .categories .categoric .bg-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  border-radius: 8px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
html body .s-2 .categories .hidden_categ {
  display: none;
}
html body .s-2 .categories .c_1 {
  background-image: url(../img/img_for_categories/1.png);
}
html body .s-2 .categories .c_2 {
  background-image: url(../img/img_for_categories/2.png);
}
html body .s-2 .categories .c_3 {
  background-image: url(../img/img_for_categories/3.png);
}
html body .s-2 .categories .c_4 {
  background-image: url(../img/img_for_categories/4.png);
  display: block;
}
html body .s-2 .categories .c_5 {
  background-image: url(../img/img_for_categories/5.png);
}
html body .s-2 .categories .c_6 {
  background-image: url(../img/img_for_categories/6.png);
}
html body .s-2 .see_more_less_bottom {
  border-top: 1px solid #C9C0B7;
  height: 39px;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 695px) {
  html body .s-2 .see_more_less_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
html body .s-2 .see_more_less_bottom .see_more_less {
  color: #a18686;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  cursor: pointer;
}
html body .s-3 {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
  padding: 20px;
  height: 400px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/s-3/backgraund.jpg), lightgray 50%/cover no-repeat;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/s-3/backgraund.jpg), lightgray 50%/cover no-repeat;
}
@media (max-width: 503px) {
  html body .s-3 {
    gap: 10px;
  }
}
html body .s-3 .s_3_main .info h2 {
  color: #faf9f8;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 120% */
}
@media (max-width: 840px) {
  html body .s-3 .s_3_main .info h2 {
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 133.333% */
  }
}
html body .s-3 .s_3_main .info h3 {
  color: #C9C0B7;
  text-decoration: line-through;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}
@media (max-width: 840px) {
  html body .s-3 .s_3_main .info h3 {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-decoration-line: strikethrough;
  }
}
html body .s-3 .s_3_main button {
  margin-top: 50px;
}
@media (max-width: 503px) {
  html body .s-3 .s_3_main button {
    margin-top: 20px;
  }
}
html body .s-3 .s_3_main .shop_now {
  border: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: #C9C0B7;
}
html body .s-3 .s_3_main .shop_now p {
  margin: 0;
  color: #F3F4F8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}
@media (max-width: 1130px) {
  html body .s-3 .s_3_main .shop_now p {
    font-size: 14px;
  }
}
html body .s-3 .s_3_main .shop_now:hover {
  background: #D9D3CD;
}
html body .s-3 .s_3_main .shop_now:active {
  background: #E4E0DB;
}
html body .s-3 .s_3_main .shop_now:focus {
  outline: none;
}
html body .s-3 img {
  width: 300px;
  margin-bottom: 20px;
}
@media (max-width: 840px) {
  html body .s-3 img {
    width: 250px;
  }
}
@media (max-width: 350px) {
  html body .s-3 img {
    width: 180px;
  }
}
html body .s-4 {
  background: #E4E0DB;
  margin-top: 47px;
  padding-top: 46px;
}
html body .s-4 h2 {
  color: #0e1020;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 111.111% */
  margin-bottom: 16px;
}
html body .s-4 .now_pop_carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  margin-bottom: 13px;
}
html body .s-4 .now_pop_carousel .my_card {
  margin-bottom: 16px;
  min-width: 236px;
  border-radius: 8px;
  border: 0.5px solid #0e1020;
  margin-right: 20px;
  background: #faf9f8;
}
html body .s-4 .now_pop_carousel .my_card a {
  text-decoration: none;
}
html body .s-4 .now_pop_carousel .my_card a .card_top {
  border-radius: 4px 4px 0px 0px;
  background: #e5e5e5;
  max-width: 400px;
  position: relative;
  padding-top: 40px;
}
html body .s-4 .now_pop_carousel .my_card a .card_top img {
  display: block;
  width: 80%;
  margin: auto;
}
html body .s-4 .now_pop_carousel .my_card a .card_top i {
  position: absolute;
  top: 16px;
  right: 16px;
}
html body .s-4 .now_pop_carousel .my_card .card_bottom {
  padding: 32px;
  padding-bottom: 0px;
}
html body .s-4 .now_pop_carousel .my_card .card_bottom p {
  margin-bottom: 16px;
  color: #0e1020;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
@media (max-width: 1106px) {
  html body .s-4 .now_pop_carousel .my_card .card_bottom p {
    font-size: 14px;
  }
}
html body .s-4 .now_pop_carousel .my_card .card_bottom .price {
  margin-bottom: 16px;
  color: #0e1020;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 100% */
}
html body .s-4 .now_pop_carousel .my_card .card_bottom .rate {
  margin-bottom: 24px;
}
html body .s-4 .now_pop_carousel .my_card .card_bottom .rate h6 {
  color: #0e1020;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 120% */
  display: inline-block;
}
html body .s-4 .now_pop_carousel .my_card .card_bottom .rate i {
  display: inline-block;
  color: #a18686;
}
html body .s-4 .now_pop_carousel .my_card .card_bottom .rate .not_soild {
  color: #d5c9c9;
}
html body footer {
  margin-top: 104px;
  background-color: #967979;
}
html body footer .footer_top {
  background-color: #a18686;
}
html body footer .footer_top .footer_top_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 71px;
}
html body footer .footer_top .footer_top_content .go_top {
  margin: auto;
}
html body footer .footer_top .footer_top_content .go_top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #faf9f8;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title {
  display: none;
  width: 170px;
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title img {
  width: 165px;
  margin-top: 32px;
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title h4 {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 166.667% */
}
html body footer .footer_bottom .footer_bottom_content {
  margin-top: 10px;
  padding-right: 50px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title {
  display: inline-block;
  width: 170px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title img {
  width: 165px;
  margin-top: 32px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title h4 {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 166.667% */
}
html body footer .footer_bottom .footer_bottom_content .links {
  margin: auto 0;
  max-width: 200px;
}
html body footer .footer_bottom .footer_bottom_content .links a {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 200% */
}
html body footer .footer_bottom .footer_bottom_content .social_media {
  font-size: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 952px) {
  html body footer .footer_bottom .footer_bottom_content .social_media {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  html body footer .footer_bottom .footer_bottom_content .social_media {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
html body footer .footer_bottom .footer_bottom_content .social_media i {
  margin-right: 15px;
  color: #faf9f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body footer .footer_bottom .footer_bottom_content .social_media i:hover {
  color: #cbbcbc;
}
@media (max-width: 667px) {
  html body footer .footer_bottom .footer_bottom_content .logo_and_title {
    width: 100%;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title img {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  html body footer .footer_bottom .footer_bottom_content .links {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  html body footer .footer_top .footer_top_content {
    height: 128px;
  }
  html body footer .footer_top .footer_top_content .go_top {
    display: none;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title {
    display: block;
    width: 100%;
    margin: auto;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title img {
    width: 113;
    display: block;
    margin: 0 auto;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    font-size: 16px;
  }
  html body footer .footer_bottom .footer_bottom_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title {
    display: none;
  }
  html body footer .footer_bottom .footer_bottom_content .links {
    text-align: center;
    font-size: 16px;
  }
  html body footer .footer_bottom .footer_bottom_content .social_media {
    margin-top: 44px;
  }
}/*# sourceMappingURL=global.css.map */