/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html body .container_1 {
  max-width: 1240px;
  width: 100%;
  padding: 0 40px;
  margin: 0 auto;
}
html body header .header_top {
  background-color: #967979;
}
html body header .header_top .header_top_content {
  height: 136px;
  width: 100%;
  padding-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
html body header .header_top .header_top_content img {
  width: 165px;
}
html body header .header_top .header_top_content .search_bar {
  width: 100%;
  height: 40px;
  margin: 0px 20px;
  padding: 4px;
  border-radius: 8px;
  border: none;
  background-color: #faf9f8;
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar {
    margin-left: 0px;
  }
}
html body header .header_top .header_top_content .search_bar button {
  border: none;
  border-radius: 8px;
  vertical-align: middle;
  cursor: pointer;
}
html body header .header_top .header_top_content .search_bar button i {
  font-size: 32px;
  color: #C9C0B7;
}
html body header .header_top .header_top_content .search_bar input {
  border: none;
  vertical-align: middle;
  width: 88%;
  height: 30px;
  outline: none;
}
@media (max-width: 900px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 81.5%;
  }
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 70%;
  }
}
html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
html body header .header_top .header_top_content .search_bar input::placeholder {
  color: #b6a1a1;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 250% */
}
@media (max-width: 426px) {
  html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
    letter-spacing: -1px;
  }
  html body header .header_top .header_top_content .search_bar input::placeholder {
    letter-spacing: -1px;
  }
}
html body header .header_top .header_top_content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 16px;
  color: #faf9f8;
  font-size: 40px;
}
html body header .header_top .header_top_content .fa-bars {
  display: none;
  font-size: 24px;
  color: #faf9f8;
}
@media (max-width: 742px) {
  html body header .header_top .header_top_content .search_bar {
    margin-left: 0px;
  }
  html body header .header_top .header_top_content img {
    display: none;
  }
  html body header .header_top .header_top_content .icons {
    display: none;
  }
  html body header .header_top .header_top_content .fa-bars {
    display: block;
  }
}
@media (max-width: 372px) {
  html body header .header_top .header_top_content .search_bar input {
    width: 50%;
  }
  html body header .header_top .header_top_content .search_bar input::-webkit-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::-moz-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input:-ms-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::-ms-input-placeholder {
    font-size: 0px;
  }
  html body header .header_top .header_top_content .search_bar input::placeholder {
    font-size: 0px;
  }
}
@media (max-width: 600px) {
  html body header nav {
    display: none;
  }
}
html body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px;
  background-color: #a18686;
}
html body header nav ul a {
  color: #faf9f8;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
html body footer {
  margin-top: 30px;
  background-color: #967979;
}
html body footer .footer_top {
  background-color: #a18686;
}
html body footer .footer_top .footer_top_content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 71px;
}
html body footer .footer_top .footer_top_content .go_top {
  margin: auto auto;
}
html body footer .footer_top .footer_top_content .go_top a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #faf9f8; /*TODO: aq ra feri gamoviyeno figmashi weria #fffff xolo ideashi praimerebi da secpnderebi unda gamoviyeno  */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title {
  display: none;
  width: 170px;
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title img {
  width: 165px;
  margin-top: 32px;
}
html body footer .footer_top .footer_top_content .hidden_logo_and_title h4 {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 166.667% */
}
html body footer .footer_bottom .footer_bottom_content {
  margin-top: 10px;
  padding-right: 50px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title {
  display: inline-block;
  width: 170px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title img {
  width: 165px;
  margin-top: 32px;
}
html body footer .footer_bottom .footer_bottom_content .logo_and_title h4 {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 40px; /* 166.667% */
}
html body footer .footer_bottom .footer_bottom_content .links {
  margin: auto 0;
  max-width: 200px;
}
html body footer .footer_bottom .footer_bottom_content .links a {
  color: #faf9f8;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 200% */
}
html body footer .footer_bottom .footer_bottom_content .social_media {
  font-size: 40px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 952px) {
  html body footer .footer_bottom .footer_bottom_content .social_media {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  html body footer .footer_bottom .footer_bottom_content .social_media {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
html body footer .footer_bottom .footer_bottom_content .social_media i {
  margin-right: 15px;
  color: #faf9f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
html body footer .footer_bottom .footer_bottom_content .social_media i:hover {
  color: #cbbcbc;
}
@media (max-width: 667px) {
  html body footer .footer_bottom .footer_bottom_content .logo_and_title {
    width: 100%;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title img {
    display: block;
    margin: 0 auto;
    margin-top: 32px;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }
  html body footer .footer_bottom .footer_bottom_content .links {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  html body footer .footer_top .footer_top_content {
    height: 128px;
  }
  html body footer .footer_top .footer_top_content .go_top {
    display: none;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title {
    display: block;
    width: 100%;
    margin: auto;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title img {
    width: 113;
    display: block;
    margin: 0 auto;
  }
  html body footer .footer_top .footer_top_content .hidden_logo_and_title h4 {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
    font-size: 16px;
  }
  html body footer .footer_bottom .footer_bottom_content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
  }
  html body footer .footer_bottom .footer_bottom_content .logo_and_title {
    display: none;
  }
  html body footer .footer_bottom .footer_bottom_content .links {
    text-align: center;
    font-size: 16px;
  }
  html body footer .footer_bottom .footer_bottom_content .social_media {
    margin-top: 44px;
  }
}/*# sourceMappingURL=global.css.map */