footer {
  height: 424px;
  background-color: $Primary-10;
  .footer_top {
    background-color: $Primary-9;
    .footer_top_content {
      margin-top: 200px;
      width: 100%;
      display: flex;
      margin-top: 100px;
      height: 72px;

      .go_top {
        margin: auto auto;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          color: $Secondary_1; /*TODO: aq ra feri gamoviyeno figmashi weria #fffff xolo ideashi praimerebi da secpnderebi unda gamoviyeno  */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: 16px; /* 100% */
        }
      }
    }
  }
  .footer_bottom {
    .footer_bottom_content {
      height: 352px;
      display: flex;
      justify-content: space-between;
      .logo_and_title {
        display: inline-block;
        width: 170px;
        img {
          width: 165px;
          margin-top: 32px;
        }
        h4 {
          color: $Secondary_1;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 300;
          line-height: 40px; /* 166.667% */
        }
      }

      .links {
        margin: auto 0;
      }

      .social_media {
        margin: 48px;
        font-size: 40px;
        align-self: flex-end;
        i {
          margin-right: 15px;
        }
      }
    }
  }
}
