html {
  scroll-behavior: smooth;
  body {
    .container_1 {
      max-width: 1240px;
      width: 100%;
      padding: 0 40px;
      margin: 0 auto;
    }
    @import "header";

    .s-1 {
      height: 640px;
      background-image: url("../img/Steam logo and background of games_cleanup.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      align-items: center;
      position: relative;
      .mySlides {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .slide_piece1 {
          h2 {
            color: $Gray_2;
            text-align: center;
            font-family: Esteban;
            font-size: 40px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 120% */
            margin-bottom: 40px;
            @media (max-width: 1130px) {
              font-size: 30px;
            }
          }
          .game1 {
            position: relative;
            width: max-content;
            margin: 0 auto;
            outline: none;
            .price {
              position: absolute;
              bottom: 10px;
              outline: none;
              display: inline-flex;
              padding: 0px 11px;
              justify-content: center;
              align-items: center;
              gap: 4px;
              border-radius: 12px;
              border: none;
              background-color: $Primary-10;
              p {
                color: $Gray_1;
                margin-bottom: 0;
                font-family: Esteban;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 56px; /* 175% */
              }
            }
            img {
              margin-left: 70px;
              border-radius: 10px;
              @media (max-width: 1130px) {
                width: 300px;
              }
            }
          }
        }
        .slide_piece2 {
          align-self: flex-end;

          margin: 0 auto;
          bottom: 0px;
          @include button1;

          .dots {
            width: max-content;
            margin: 0 auto;
            margin-top: 40px;
            .dot {
              opacity: 0.5;
              cursor: pointer;
              height: 15px;
              width: 15px;
              margin: 0 2px;
              background-color: #bbb;
              border-radius: 50%;
              display: inline-block;
              transition: background-color 0.6s ease;
            }
            .active {
              opacity: 1;
            }
          }
        }
        .slide_piece3 {
          margin-right: 60px;
          .game2 {
            position: relative;
            // margin-top: 34px;

            .price {
              outline: none;
              position: absolute;
              top: 10px;
              margin-left: -30px;

              display: inline-flex;
              padding: 0px 11px;
              justify-content: center;
              align-items: center;
              gap: 4px;
              border-radius: 12px;
              border: none;
              background-color: $Primary-10;
              p {
                color: $Gray_1;
                margin-bottom: 0;
                font-family: Esteban;
                font-size: 32px;
                font-style: normal;
                font-weight: 400;
                line-height: 56px; /* 175% */
              }
            }
            img {
              border-radius: 10px;
              margin-bottom: 30px;
              @media (max-width: 1130px) {
                width: 300px;
              }
            }
          }
        }

        @media (max-width: 1000px) {
          justify-content: space-evenly;
          flex-direction: column;

          gap: 30px;
          .slide_piece1 {
            margin-top: 20px;
          }
          .slide_piece2 {
            align-self: center;
            margin-bottom: 20px;
            .dots {
              margin-top: 20px;
            }
          }
          .slide_piece3 {
            display: none;
          }
        }
        @media (max-width: 400px) {
          .slide_piece1 {
            .game1 {
              img {
                width: 200px;
                margin-left: 30px;
              }
              .price {
                p {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }

      /* Next & previous buttons */
      .prev,
      .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
      }
      .prev {
        left: 0px;
      }

      /* Position the "next button" to the right */
      .next {
        right: 0;
        border-radius: 3px 0 0 3px;
      }

      /* On hover, add a black background color with a little bit see-through */
      .prev:hover,
      .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }
    }

    .s-2 {
      margin-top: 124px;
      .categ_head {
        display: flex;
        height: 48px;
        justify-content: space-between;
        margin-bottom: 16px;
        h3 {
          color: $Gray_10;
          font-family: Inter;
          font-size: 36px;
          font-style: normal;
          font-weight: 500;
          line-height: 40px; /* 111.111% */
          @media (max-width: 695px) {
            font-size: 20px;
          }
        }
        .see_more_less {
          cursor: pointer;
          color: $Primary-9;
          font-family: Inter;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px; /* 100% */
          margin: 0;
          align-self: flex-end;
          @media (max-width: 695px) {
            display: none;
          }
        }
      }
      .categories {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 869px) {
          justify-content: center;
        }
        .categoric {
          border-radius: 8px;
          width: 350px;
          height: 280px;
          background-size: cover;
          margin-bottom: 21px;

          @media (max-width: 1170px) {
            width: 300px;
            height: 240px;
          }
          @media (max-width: 1019px) {
            width: 250px;
            height: 200px;
          }

          @media (max-width: 695px) {
            width: 200px;
            height: 160px;
          }

          @media (max-width: 495px) {
            width: 100%;
          }

          h3 {
            margin: auto;
            display: inline-block;
            text-align: center;

            color: $Secondary_1;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 40px; /* 125% */
            @media (max-width: 695px) {
              font-size: 16px;
            }
          }

          .bg-color {
            display: flex;
            flex-basis: 100%;
            border-radius: 8px;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.4);
          }
        }
        .hidden_categ {
          display: none;
        }

        .c_1 {
          background-image: url(../img/img_for_categories/1.png);
        }
        .c_2 {
          background-image: url(../img/img_for_categories/2.png);
        }
        .c_3 {
          background-image: url(../img/img_for_categories/3.png);
        }
        .c_4 {
          background-image: url(../img/img_for_categories/4.png);
          display: block;
        }
        .c_5 {
          background-image: url(../img/img_for_categories/5.png);
        }
        .c_6 {
          background-image: url(../img/img_for_categories/6.png);
        }
        // .c_7 {
        //   background-image: url(../img/img_for_categories/7.png);
        // }
        // .c_8 {
        //   background-image: url(../img/img_for_categories/8.png);
        // }
        // .c_9 {
        //   background-image: url(../img/img_for_categories/9.png);
        // }
        // .c_10 {
        //   background-image: url(../img/img_for_categories/10.png);
        // }
      }
      .see_more_less_bottom {
        border-top: 1px solid $Secondary_10;

        height: 39px;
        width: 100%;
        display: none;
        justify-content: center;
        align-items: center;
        @media (max-width: 695px) {
          display: flex;
        }
        .see_more_less {
          color: $Primary-9;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px; /* 133.333% */
          cursor: pointer;
        }
      }
    }
    .s-3 {
      margin-top: 100px;
      display: flex;
      flex-wrap: wrap-reverse;
      padding: 20px;
      height: 400px;
      justify-content: space-around;
      align-items: center;
      border-radius: 8px;
      @media (max-width: 503px) {
        gap: 10px;
      }

      background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.5) 0%,
          rgba(0, 0, 0, 0.5) 100%
        ),
        url(../img/s-3/backgraund.jpg), lightgray 50% / cover no-repeat;

      .s_3_main {
        .info {
          h2 {
            color: $Secondary_1;
            font-family: Inter;
            font-size: 40px;
            font-style: normal;
            font-weight: 500;
            line-height: 48px; /* 120% */
            @media (max-width: 840px) {
              font-family: Inter;
              font-size: 17px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px; /* 133.333% */
            }
          }
          h3 {
            color: $Secondary_10;
            text-decoration: line-through;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 48px; /* 150% */

            @media (max-width: 840px) {
              font-family: Inter;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px; /* 100% */
              text-decoration-line: strikethrough;
            }
          }
        }

        button {
          margin-top: 50px;
          @media (max-width: 503px) {
            margin-top: 20px;
          }
        }
        @include button1;
      }
      img {
        width: 300px;
        margin-bottom: 20px;
        @media (max-width: 840px) {
          width: 250px;
        }
        @media (max-width: 350px) {
          width: 180px;
        }
      }
    }
    .s-4 {
      background: $Secondary_5;
      margin-top: 47px;

      padding-top: 46px;
      h2 {
        color: $Gray_10;
        font-family: Inter;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: 40px; /* 111.111% */
        margin-bottom: 16px;
      }
      .now_pop_carousel {
        display: flex;
        overflow-x: auto;
        margin-bottom: 13px;

        .my_card {
          margin-bottom: 16px;
          min-width: 236px;
          border-radius: 8px;
          border: 0.5px solid $Gray_10;
          margin-right: 20px;
          background: $Secondary_1;
          a {
            text-decoration: none;

            .card_top {
              border-radius: 4px 4px 0px 0px;
              background: #e5e5e5;
              max-width: 400px;

              position: relative;
              padding-top: 40px;
              img {
                display: block;
                width: 80%;
                margin: auto;
              }
              i {
                position: absolute;
                top: 16px;
                right: 16px;
              }
            }
          }
          .card_bottom {
            padding: 32px;
            padding-bottom: 0px;
            p {
              margin-bottom: 16px;
              color: $Gray_10;

              font-family: Inter;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 32px; /* 160% */
              @media (max-width: 1106px) {
                font-size: 14px;
              }
            }
            .price {
              margin-bottom: 16px;
              color: $Gray_10;
              font-family: Inter;
              font-size: 32px;
              font-style: normal;
              font-weight: 600;
              line-height: 32px; /* 100% */
            }
            .rate {
              margin-bottom: 24px;
              h6 {
                color: $Gray_10;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 120% */
                display: inline-block;
              }
              i {
                display: inline-block;
                color: $Primary-9;
              }
              .not_soild {
                color: $Primary-4;
              }
            }
          }
        }
      }
    }

    @import "footer";
  }
}
