$Primary-1: #f5f2f2;
$Primary-2: #eae4e4;
$Primary-3: #e0d7d7;
$Primary-4: #d5c9c9;
$Primary-5: #cbbcbc;
$Primary-6: #c0afaf;
$Primary-7: #b6a1a1;
$Primary-8: #ab9494;
$Primary-9: #a18686;
$Primary-10: #967979;
// ----------------
$Secondary_1: #faf9f8;
$Secondary_2: #f4f2f1;
$Secondary_3: #efece9;
$Secondary_4: #e9e6e2;

$Secondary_5: #E4E0DB;
$Secondary_6: #DFD9D4;
$Secondary_7: #D9D3CD;
$Secondary_8: #D4CDC5;
$Secondary_9: #CEC6BE;
$Secondary_10: #C9C0B7;

// ----------------
$Gray_1: #F3F4F8;
$Gray_2: #D2D4DA;
$Gray_3: #B3B5BD;
$Gray_4: #9496A1;
$Gray_5: #777986;
$Gray_6: #5B5D6B;
$Gray_7: #404252;
$Gray_8: #282A3A;
$Gray_9: #101223;
$Gray_10: #0e1020;
